*.log
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
logs/
target/
build/
.gradle/
*.iml
.classpath
.project
.settings
.idea/
classes/
secret.properties
service.properties
log4j.properties
logback.xml
secret*
dependencyMapping.properties
transitiveProjectDeps*
*.ipr
*.iws
*.jks
*.serial
out/
gradle-reports/
node_modules/
dist/static/
vendor.js.map
bundle.js.map
myIp.js
package-lock.json